.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.992188;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.730469;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:40.000000px;}
.fs0{font-size:44.000000px;}
.fs3{font-size:48.000000px;}
.fs1{font-size:72.000000px;}
.y0{bottom:0.000000px;}
.y2{bottom:2.331000px;}
.y9{bottom:3.207000px;}
.y19{bottom:3.570000px;}
.y7{bottom:3.813999px;}
.ye{bottom:4.082000px;}
.y24{bottom:23.351997px;}
.y23{bottom:37.151001px;}
.y22{bottom:50.950005px;}
.y1e{bottom:61.183013px;}
.y21{bottom:64.749004px;}
.y1d{bottom:72.682006px;}
.y20{bottom:78.548004px;}
.y1c{bottom:108.509998px;}
.y1b{bottom:122.910007px;}
.y1a{bottom:137.310001px;}
.y18{bottom:151.709995px;}
.y17{bottom:166.110004px;}
.y16{bottom:180.509998px;}
.y1f{bottom:183.909995px;}
.y15{bottom:194.910007px;}
.y14{bottom:209.310001px;}
.y13{bottom:223.709995px;}
.y12{bottom:238.110004px;}
.y11{bottom:252.509998px;}
.y10{bottom:266.910000px;}
.yf{bottom:281.310001px;}
.yd{bottom:295.710003px;}
.yc{bottom:310.110001px;}
.yb{bottom:324.510002px;}
.ya{bottom:338.910002px;}
.y8{bottom:353.310001px;}
.y6{bottom:405.657001px;}
.y5{bottom:426.355000px;}
.y4{bottom:439.004002px;}
.y3{bottom:451.653000px;}
.y1{bottom:464.302000px;}
.h1{height:12.649000px;}
.h5{height:14.400000px;}
.h3{height:20.698000px;}
.h7{height:31.269531px;}
.h6{height:31.625000px;}
.h9{height:33.328125px;}
.h2{height:34.396484px;}
.h4{height:51.750000px;}
.h8{height:104.050003px;}
.h0{height:504.000000px;}
.w3{width:90.000000px;}
.w4{width:99.399997px;}
.w2{width:144.850006px;}
.w1{width:234.899994px;}
.w0{width:252.000000px;}
.x0{left:0.000000px;}
.x6{left:5.400000px;}
.x1{left:9.000000px;}
.x12{left:14.705000px;}
.x13{left:16.369000px;}
.xf{left:20.543000px;}
.x11{left:22.539000px;}
.x10{left:26.207000px;}
.xe{left:33.599998px;}
.xc{left:42.111000px;}
.x5{left:52.416998px;}
.x4{left:63.328001px;}
.xd{left:73.206999px;}
.x2{left:74.346999px;}
.x8{left:86.662001px;}
.xa{left:88.892996px;}
.x3{left:92.686003px;}
.xb{left:107.222998px;}
.x9{left:120.001997px;}
.x7{left:153.850006px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs2{font-size:53.333333pt;}
.fs0{font-size:58.666667pt;}
.fs3{font-size:64.000000pt;}
.fs1{font-size:96.000000pt;}
.y0{bottom:0.000000pt;}
.y2{bottom:3.108000pt;}
.y9{bottom:4.276000pt;}
.y19{bottom:4.760000pt;}
.y7{bottom:5.085332pt;}
.ye{bottom:5.442666pt;}
.y24{bottom:31.135996pt;}
.y23{bottom:49.534668pt;}
.y22{bottom:67.933339pt;}
.y1e{bottom:81.577351pt;}
.y21{bottom:86.332006pt;}
.y1d{bottom:96.909341pt;}
.y20{bottom:104.730672pt;}
.y1c{bottom:144.679998pt;}
.y1b{bottom:163.880010pt;}
.y1a{bottom:183.080002pt;}
.y18{bottom:202.279994pt;}
.y17{bottom:221.480006pt;}
.y16{bottom:240.679998pt;}
.y1f{bottom:245.213326pt;}
.y15{bottom:259.880010pt;}
.y14{bottom:279.080002pt;}
.y13{bottom:298.279994pt;}
.y12{bottom:317.480006pt;}
.y11{bottom:336.679998pt;}
.y10{bottom:355.880000pt;}
.yf{bottom:375.080002pt;}
.yd{bottom:394.280004pt;}
.yc{bottom:413.480001pt;}
.yb{bottom:432.680003pt;}
.ya{bottom:451.880002pt;}
.y8{bottom:471.080002pt;}
.y6{bottom:540.876002pt;}
.y5{bottom:568.473333pt;}
.y4{bottom:585.338669pt;}
.y3{bottom:602.204000pt;}
.y1{bottom:619.069333pt;}
.h1{height:16.865334pt;}
.h5{height:19.199999pt;}
.h3{height:27.597333pt;}
.h7{height:41.692708pt;}
.h6{height:42.166667pt;}
.h9{height:44.437500pt;}
.h2{height:45.861979pt;}
.h4{height:69.000000pt;}
.h8{height:138.733337pt;}
.h0{height:672.000000pt;}
.w3{width:120.000000pt;}
.w4{width:132.533329pt;}
.w2{width:193.133341pt;}
.w1{width:313.199992pt;}
.w0{width:336.000000pt;}
.x0{left:0.000000pt;}
.x6{left:7.200000pt;}
.x1{left:11.999999pt;}
.x12{left:19.606666pt;}
.x13{left:21.825333pt;}
.xf{left:27.390666pt;}
.x11{left:30.051999pt;}
.x10{left:34.942666pt;}
.xe{left:44.799997pt;}
.xc{left:56.148000pt;}
.x5{left:69.889331pt;}
.x4{left:84.437335pt;}
.xd{left:97.609332pt;}
.x2{left:99.129332pt;}
.x8{left:115.549335pt;}
.xa{left:118.523995pt;}
.x3{left:123.581338pt;}
.xb{left:142.963998pt;}
.x9{left:160.002663pt;}
.x7{left:205.133341pt;}
}
